<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>LogIn</title>
        <link rel="stylesheet" href="~/CSS/logInPageStyle.css">
        <script src="~/Scripts/jquery-3.5.1.min.js"></script>
        <script src="~/Scripts/jquery.md5.js"></script>
        <script src="~/Scripts/AppLogIn.js"></script>
    </head>
    <body>
        <header>Система построения структурных доказательств<br>в натуральном исчислении высказываний</header>
        <main>
            <div class="registration-field">
                <div class="text-info">Вход в систему</div>
                <div class="form-group">
                    <input type="text" class="form-control" id="login" placeholder="Имя..." tabindex="1">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Пароль..." tabindex="2">
                </div>
                <div class="form-group">
                    <button class="btn" id="loginButton" tabindex="3">Вход</button><!--
                    --><button class="btn" id="registrationButton" tabindex="4">Регистрация</button>
                </div>
                <div class="text-info" id="result"></div>
            </div>
        </main>
        <footer>
            <p>&copy 2020, Дмитрий Суровягин</p>
            <p>surovyagin@hotmail.com</p>
        </footer>
    </body>
</html>
