/* Clear standard styles */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Required styles */

body {
    background-color: #1E1E1E;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: #1E1E1E;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #7AC0FF;
    padding: 1rem;
    text-align: center;
    background-color: #333333;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.8rem;
    color: #969696;
    background-color: #333333;
}

aside {
    background-color: #333333;
    padding: 0.6rem;
    position: fixed;
    bottom: 5rem;
    right: 0;
}

.text-info {
    font-family: Arial, Helvetica, sans-serif;
    color: #7AC0FF;
    margin: 0.2rem;
}

    .text-info em {
        color: #EE9D28;
    }

.btn {
    font-family: Arial, Helvetica, sans-serif;
    color: #7AC0FF;
    background-color: #252526;
    font-size: 1rem;
    padding: 0.2rem;
    width: 8rem;
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}

.btn:focus {
    box-shadow: 0.2rem 0.2rem 0rem #EE9D28;
}

.btn:hover {
    background-color: #1E1E1E;
}